{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
	<h2>Delete a '{{ topic }}' topic</h2>
	{% if topic.private %}
		<h4>This is a private topic</h4>
	{% else %}
		<h4>This is a public topic</h4>
	{% endif %}
{% endblock page_header %}

{% block content %}
	
	<form method="post" action="{% url 'learning_logs:delete_topic' topic.id %}">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-primary">Delete topic</button>
		{% endbuttons %}
	</form>

{% endblock content %}