{% extends "learning_logs/base.html" %}

{% block page_header %}
	<h3>{{ topic }}</h3>
	{% if user == topic.owner %}
		<h4>This is your topic</h4>
	{% else %}
		<h4>This is {{ topic.owner }}'s topic</h4>
	{% endif %}
	<div class="clearfix">
		<h5>
			<a class="float-right" href="{% url 'learning_logs:delete_topic' topic.id %}">Delete topic</a>
		</h5>
	</div>
{% endblock page_header %}

{% block content %}

	<h5 class="card-header">
		<a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
	</h5>
	
		{% for entry in entries %}
			<div class="card mb-3">
				<h4 class="card-header">
					{{ entry.date_added|date:'M d, Y H:i' }}
				</h4>
				<div class="card-body">
					{{ entry.text|linebreaks }}
				</div>
				<h4 class="card-footer">
					<small><a class="float-right" href="{% url 'learning_logs:edit_entry' entry.id %}">
						Edit entry</a></small>
				</h4>
			</div>
		{% empty %}
			<p>There are no entries for this topic yet</p>
		{% endfor %}

{% endblock content %}


I am log in like admin, and I see "That is admin topic"